localhost {
	encode gzip zstd
	tls internal
	log {
    # output stdout
		format console
	}

	handle /api/* {
    reverse_proxy http://localhost:8080
	}

	handle /* {
    reverse_proxy http://localhost:5173
	}
}
